# Auto detect text files and perform LF normalization
* text=auto
*.prefab filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_12_0.bundle filter=lfs diff=lfs merge=lfs -text
Assets/02.Scenes/Racing[[:space:]]Rooms/Kansas.unity filter=lfs diff=lfs merge=lfs -text
